{% extends 'layout/layout.twig' %}

{% block title %}Rejestracja{% endblock %}

{% block content %}
    <p>Podaj adres e-mail na który ma zostać wysłane ponownie hasło</p>

    {{ form().openTag(form)|raw }}
    <table>
        <tr>
            <td>{{ formLabel(form.get('email')) }}</td>
            <td>{{ formInput(form.get('email')) }}</td>
            <td>{{ formElementErrors(form.get('email')) }}</td>
        </tr>
        <tr>
            <td colspan="2">{{ formSubmit(form.get('submit')) }}</td>
        </tr>
    </table>
    {{ form().closeTag()|raw }}
{% endblock %}